<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding style="
    display: inline-block;
    height: 89px;
    overflow: hidden;
    float: right;">
    
        <md-input-container>
            <label>userName</label>
            <input type="text" ng-model="vm.userName">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input ng-model="vm.password" type="password">
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="vm.submit()">Logn in</md-button>
    
</md-content>

